---
---

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height:  100vh;
 }

.topbar {
    background-color: rgb(43, 42, 42);
    height: 30px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}

.topbar a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* background-color: red; */
    padding: 0 20px;
    /* position: relative; */
}

.navbar img {
    width: 120px;
    height: 100px;
}
.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    
}

.nav-content a {
    text-decoration: none;
}

.nav-content a.active {
    color: #3C7A32;
    font-weight: bolder;
}

.hero-content {
    background: linear-gradient(60deg, #4d9ddf, #227ec7, #073d87);
    height: 26rem;
    padding: 40px 100px 15px 10px;
}

.hero-content h1 {
    font-size: 80px;
    color: white;
    text-transform: capitalize;
    font-weight: 300;
}

.about-section {
    margin: 0 20px;
    /* height: 20rem; */
    
}

.about-section h3, 
.role-section h3 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding: 30px 0;
}

.about {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 40px;
    gap: 60px;
}

.about img {
    height: 25rem;
    width: 50%;
    z-index: 1;
}

.about-content {
    width: 50%;
    /* margin: 0 30px; */
    text-align: center;
    font-size: 20px;
    line-height: 22px;
    height: 25rem;
    background-color: #d9d9d9;
    padding: 32px;
    color: #3f3f3f;
}

.about-content span {
    color: #073d87;
    font-size: 25px;
}

.role-section {
     background-color: #d9d9d9;
}

.roles {
    padding: 0 45px 45px 45px;
}

.roles li {
    background-color: #fff;
    color: #142D84;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    list-style: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

}

/* Animation styling for each role */

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  li {
    opacity: 0; /* Hide the list items initially */
  }
  
  li:nth-child(1) {
    animation: slideInFromLeft 2s forwards;
  }
  
  li:nth-child(2) {
    animation: slideInFromRight 2s forwards;
  }
  
  li:nth-child(3) {
    animation: slideInFromBottom 2s forwards;
  }
  
/* Styling for Conference Page */
.box {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    background-color: #f9f9f9;
    text-align: center;
}
