---
---

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* padding-top: 130px; */
    height:  100vh;
 }

 /* @media only screen and (max-width: 767px) {
    /* Styles for mobile view */
    body {
        font-size: 14px;
        padding: 10px;
    }

    #content {
        /* Styles for the content in mobile view */
    }
} */


 .top-bar {
    width: 100%;
 }

.links-bar {
    background-color: rgb(43, 42, 42);
    height: 30px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}

.links-bar a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 1.5px solid rgba(255, 255, 255, 0.18);
    background-color: #fff;
}

.navbar img {
    width: 120px;
    height: 100px;
}
.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    
}

.nav-content a {
    text-decoration: none;
}

.nav-content a.active {
    color: #3C7A32;
    font-weight: bolder;
}

.fixed-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.hero-content {
    background: linear-gradient(60deg, #4d9ddf, #227ec7, #073d87);
    height: 26rem;
    padding: 40px 100px 15px 10px;
}

.hero-content h1 {
    font-size: 80px;
    color: white;
    text-transform: capitalize;
    font-weight: 300;
}

.about-section {
    margin: 0 20px;
    /* height: 20rem; */
    
}

.about-section h3, 
.role-section h3,
.join-section h1,
.contact-section h1 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding: 30px 0;
}

.about {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 40px;
    gap: 60px;
}

.about img {
    height: 25rem;
    width: 50%;
    z-index: 1;
}

.about-content {
    width: 50%;
    /* margin: 0 30px; */
    text-align: center;
    font-size: 20px;
    line-height: 22px;
    height: 25rem;
    background-color: #d9d9d9;
    padding: 32px;
    color: #3f3f3f;
}

.about-content span {
    color: #073d87;
    font-size: 25px;
}

.role-section {
    background-color: #d9d9d9;
}

.animated-list {
    padding: 0 45px 45px 45px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animated-list li {
    background-color: #fff;
    color: #142D84;
    border: 1px solid #ccc;
    padding: 20px;
    width: 70%;
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    list-style: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

/* Animation styling for each role */
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .roles-anime {
    opacity: 0; /* Hide the list items initially */
  }
  
  .roles-anime.slide-in-from-left {
    animation: slideInFromLeft 2s forwards;
  }
  
  .roles-anime.slide-in-from-right {
    animation: slideInFromRight 2s forwards;
  }
  
  .roles-anime.slide-in-from-bottom {
    animation: slideInFromBottom 2s forwards;
  }

  /* Styling for Executive Committe Page */


.executive-committee {
    text-align: center;
    padding: 20px;
}

.committee-member {
    display: inline-block;
    border: 2px solid #3C7A32;
    height: 10em;
    width: 70px;
    margin: 20px;
    text-align: center;
    position: relative;
    box-sizing: border-box;
}

/* .committee-member-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
} */

.committee-member-name {
    font-size: 1.5em;
    margin-top: 10px;
    
}

.roles-org {
    bottom: 0px;
    background-color: #A1F393;
    position: absolute;
    width: 100%;
}
  
.committee-member-role {
    font-size: 1em;
    color: #666;
}

.committee-member-org {
    font-size: 12px;
}

/* Styling for Conference Page */
.box {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    background-color: #f9f9f9;
    text-align: center;
}

/* Styling for Join-Us Page */

.join-form {
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

.join-form label {
    display: block;
    margin-top: 10px;
}

.join-form input[type="text"],
.join-form input[type="email"],
.join-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

.join-form input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

/* Styling for footer */
.footer-section {
    height: 200px;
    margin-top: 40px;
    background-color: #32427A;
    color: #ccc;
    text-align: center;
    display: flex;
    justify-content: center;  
    align-items: flex-end;
    /* padding: 30px;      */
}

.footer-text {
    margin-bottom: 10px;             
}