---
---

* {
    font-family: 'Montserrat', 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow-x: hidden;
 }

 /* @media only screen and (max-width: 767px) {
    /* Styles for mobile view */
    
 */


 .top-bar {
    width: 100%;
 } 

.links-bar {
    background-color: rgb(43, 42, 42);
    height: 30px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}

.links-bar a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 1.5px solid rgba(255, 255, 255, 0.18);
    background-color:  #d0e2f0;
}

.navbar img {
    width: 5%;
    height: 47px;
    margin-left: 5px;
}
.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    text-transform: uppercase;
    width: 92%;
    cursor: pointer;
    font-weight: bold;
    
}

.nav-item {
    flex: 1;
    text-align: center;
}

.nav-item a {
    display: block;
    width: 100%;
    padding: 15px 0;
    text-decoration: none;
    color: rgb(96, 4, 61);
}

.nav-content a:hover {
    background-color: rgb(96, 4, 61);
    color: #fff;
}


.nav-content a.active {
    background-color: rgb(96, 4, 61);
    color: #fff;
    font-weight: bolder;
}

.fixed-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


.hero-content {
    position: relative;
    width: 100%;
    height: 32rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    transition: opacity 1s, transform 6s;
    opacity: .2;
    z-index: -1;
}
.backgrounds-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -5;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.showing {
    opacity: 1;
}

.hero-content h1 {
    font-size: 35px;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    width: 100%;
    background-color: rgb(96, 4, 61);
    opacity: .6;
}


.about-section {
    margin: 0 20px;
    /* height: 20rem; */
    
}

/* .about-section .heading-bg {
    height: 20px;
    width: 40px;
    position: relative;
    text-align: center;
    background-image: url(../images/heading-bg.jpg);
}

.heading-bg h3 {
    background-color: #4CAF50;
} */

.about-section h3, 
.role-section h3,
.join-section h1,
.contact-section h1,
.executive-committee h1,
.conferences h1 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding: 30px 0;
}

.about {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 40px;
    gap: 60px;
}

.about img {
    height: 25rem;
    width: 50%;
    z-index: 1;
}

.about-content {
    width: 50%;
    /* margin: 0 30px; */
    text-align: center;
    font-size: 20px;
    line-height: 22px;
    height: 25rem;
    background-color: #32427A;
    padding: 32px;
    color: #fff;
}

.about-content span {
    color: lightblue;
    font-size: 25px;
}

.role-section {
    background-color: rgb(96, 4, 61);
    color: #fff;
}

.animated-list {
    padding: 0 45px 45px 45px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animated-list li {
    background-color: #fff;
    color: #142D84;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 20px;
    width: 70%;
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    list-style: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.animated-list li:hover {
    background-color: #142D84;
    color: #fff;
}

/* Animation styling for each role */
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .roles-anime {
    opacity: 0; /* Hide the list items initially */
  }
  
  .roles-anime.slide-in-from-left {
    animation: slideInFromLeft 2s forwards;
  }
  
  .roles-anime.slide-in-from-right {
    animation: slideInFromRight 2s forwards;
  }
  
  .roles-anime.slide-in-from-bottom {
    animation: slideInFromBottom 2s forwards;
  }

  /* Styling for Conference Page */

  .conferences {
    padding: 40px;
    font-family: Arial, sans-serif;
}

.conference-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin-bottom: 15px;
}

.conference-title {
    font-size: 1.5em;
    color: #333;
}

.conference-date,
.conference-location,
.conference-country {
    font-size: 1em;
    color: #666;
}

.conference-link {
    color: #007BFF;
    text-decoration: none;
}

.conference-link:hover {
    text-decoration: underline;
}


  /* Styling for Executive Committe Page */


.executive-committee,
.conference {
    text-align: center;
    padding: 12px;
}

.committee-member {
    display: inline-block;
    border: 2px solid #3C7A32;
    height: 10em;
    width: 10em;
    margin: 20px;
    text-align: center;
    position: relative;
    /* box-sizing: border-box; */
}

/* .committee-member-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
} */

.committee-member-name {
    font-size: 1em;
    margin-top: 10px;
    
}

.roles-org {
    bottom: 0px;
    background-color: #A1F393;
    padding: 10px;
    position: absolute;
    width: 100%;
}
  
.committee-member-role {
    font-size: 1em;
    color: #666;
}

.committee-member-org {
    font-size: 12px;
}

/* Styling for Conference Page */
.box {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    background-color: #f9f9f9;
    text-align: center;
}

/* Styling for Join-Us Page */

.join-form {
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

.join-form label {
    display: block;
    margin-top: 10px;
}

.join-form input[type="text"],
.join-form input[type="email"],
.join-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

.join-form input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

/* Styling for footer */
.footer-section {
    height: 200px;
    margin-top: 40px;
    background-color: #32427A;
    color: #ccc;
    text-align: center;
    display: flex;
    justify-content: center;  
    align-items: flex-end;
    /* padding: 30px;      */
}

.footer-text {
    margin-bottom: 10px;             
}