<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body>
    <header class="top-bar">
        <div class="links-bar">
            <a href="https://www.ieee.org">IEEE.ORG</a>
            <a href="https://www.computer.org">IEEE COMPUTER SOCIETY</a>
        </div>
        <div class="navbar">
            <img class="main-logo" src="{{ '/assets/images/tcbislogo.png' | relative_url }}" alt="TCBIS Logo">
            <ul class="nav-content">
                <li><a href="{{ '/' | relative_url }}" class="{% if page.url == '/' %}active{% endif %}">Home</a></li>
                <li><a href="{{ '/conference' | relative_url }}" class="{% if page.url == '/conference/' %}active{% endif %}">Conferences</a></li>
                <li><a href="{{ '/executive-members' | relative_url }}" class="{% if page.url == '/executive-members/' %}active{% endif %}">Executive Members</a></li>
                <li><a href="{{ '/join-us' | relative_url }}" class="{% if page.url == '/join-us/' %}active{% endif %}">Join Us</a></li>
                <li><a href="{{ '/contact' | relative_url }}" class="{% if page.url == '/contact/' %}active{% endif %}">Contact</a></li>
            </ul>
        </div>
    </header>
    <main>
        {{ content }}
        {% include footer.html %}
    </main>
{% include js-link.html %}
   
</body>

</html>
